In [3]:
import pandas as pd
import json

In [26]:
train_status_df = pd.read_csv('data/virustotal/train_file_status.csv')

In [27]:
train_status_df.head(5)

,sha256,status_code,timestamp,file_number
0,4e95598af9069d1bd6e3d4ebce8cedcdb6f0cb2dcde256...,200,2022-12-08 19:29:45.320117,0
1,95418ae82b6df09e74a4a61465456c9cdd3a837be31591...,200,2022-12-08 19:29:45.877640,0
2,5775b3768a1cbfade40ebdf80ede44f56d13c486ac758c...,200,2022-12-08 19:29:46.396444,0
3,8295854d7621d23d22a12f27834b3a0c72558e9d7f5302...,200,2022-12-08 19:29:47.255967,0
4,caa78b62d2b99ccc02f01c2fda1cf83144703845c87c92...,200,2022-12-08 19:29:48.004431,0

In [13]:
train_status_df[train_status_df['status_code'] == 0].index[0]

22013

In [14]:
train_status_df[train_status_df['status_code'] == 200].shape

(22013, 3)

In [15]:
json_path = 'data/virustotal/train_file_data.json'
with open(json_path, 'r') as f:
    data_dic = json.load(f)

In [28]:
train_status_df[train_status_df.sha256.isin(data_dic.keys())].tail()

,sha256,status_code,timestamp,file_number
22008,35f5506abd113ac050607828bdf1731d1b88bdf46e1ab0...,200,2022-12-10 20:01:23.954252,0
22009,8641e9e5d05dff60ed76805201031956755b50d89a6b0c...,200,2022-12-10 20:01:24.693214,0
22010,4d2d3b76198decc1ee5cbf2dfb540b2483b36d680acd77...,200,2022-12-10 20:01:25.447132,0
22011,95fc90feb29c543fb4109a314cf66b071a5f121f5bd52c...,200,2022-12-10 20:01:26.253625,0
22012,f723b69208996b5f4dcc7e38a7ace80d11d829a71bd650...,200,2022-12-10 20:01:27.136704,0

In [30]:
train_status_df.tail()

,sha256,status_code,timestamp,file_number
79995,cb0ecd6f4eb6dd38bcdf8932a78a8ca56f2613ac7cc42b...,0,NaN,-1
79996,bbd52e370be258d1b002a1475c9ab7e2fe03cb6df7f9bf...,0,NaN,-1
79997,23f37c80c79171d4ffae352282e44c9c556724c2189067...,0,NaN,-1
79998,78ed22a19f1502dabe4309d473832be22b03c41cc107b7...,0,NaN,-1
79999,88a884b6d619c49676b5c9e3ddbd7dddb7255600389cbd...,0,NaN,-1

In [23]:
train_status_df['file_number'] = 0

In [34]:
train_status_df.loc[220136,'file_number'] = -1
int(train_status_df['file_number'].max())

0

In [25]:
train_status_df.to_csv('data/virustotal/train_file_status.csv', index=False)